.category-section {
  position: relative; /* Para que a posição fixa se relacione com o contêiner */
}

.product-card {
  transition: transform 0.3s; /* Para animações mais suaves, se necessário */
}

.nav-sticky {
  position: sticky;
  top: 0; /* Mantém a barra no topo */
  z-index: 100; /* Para garantir que fique acima de outros elementos */
  background: white; /* Fundo branco para melhor contraste */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}


.category {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.mat-tab-nav-bar {
  background-color: #f1f1f1;
  padding: 10px;
}

mat-tab-nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Estilos para os cards */
.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.product-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-text {
  color: #6c757d;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745; 
}


.product-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
}


.category-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}



