<div class="sacola">
    @if (carrinho.length > 0) {
        <div class="pedido">
            <h5>Seu Pedido</h5>
            <div class="pedido-detalhes">
                <div class="produto-info">
                    @for (item of carrinho; track item) {
                        <div class="produto-item">
                            <p>{{item.quantidade + "x "}} {{ item.cardapio.nome }}</p>
                            <p>{{ item.cardapio.descricao }}</p>
                            <p class="text-success">{{ item.cardapio.preco | currency: 'BRL' }}</p>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-between">
                    <p>Subtotal</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Total</p>
                </div>
                <div class="meus-dados">
                    <button class="btn btn-outline-primary w-100">Entrar ou Cadastrar</button>
                </div>
                <div class="cupon-section">
                    <details>
                        <summary>Possui cupom?</summary>
                        <input type="text" class="form-control mt-2" placeholder="Digite o cupom">
                    </details>
                </div>
                <button class="btn btn-primary w-100 mt-3">Finalizar Pedido</button>
            </div>
        </div>
    }@else{
        <div class="text-center">
            <img src="https://www.promokit.com.br/assets/loja/sem-pedidos.png" alt="Sacola Vazia" class="img-fluid">
            <p>Sua sacola está vazia</p>
            <p>Adicione Itens</p>
        </div>
    }
</div>